@use "../../utils/variables" as *;

.services-section {
  padding: 180px 0;

  @media screen and (max-width: $bp-tablet) {
    padding: 120px 0;
  }

  @media screen and (max-width: $bp-mobile) {
    padding: 80px 0;
  }

  &__list {
    display: flex;
    justify-content: space-around;
    gap: 20px;
  }

  &__subtitle {
    margin-bottom: 54px;
    text-align: center;

    @media screen and (max-width: $bp-tablet) {
      margin-bottom: 44px;
    }

    @media screen and (max-width: $bp-mobile) {
      margin-bottom: 28px;
    }
  }

  &__slider {
    overflow: hidden;
  }
}
