@use "../../utils/variables" as *;

.service-section {
  padding: 140px 0 125px;

  @media screen and (max-width: $bp-tablet) {
    padding: 70px 0;
  }

  @media screen and (max-width: $bp-mobile) {
    padding: 40px 0 60px;
  }

  &__subtitle {
    text-transform: uppercase;
    margin-bottom: 78px;

    @media screen and (max-width: $bp-tablet) {
      margin-bottom: 40px;
    }
  }

  &__list {
    // display: flex;
    // gap: 40px;
    // justify-content: space-between;
    // flex-wrap: wrap;
    margin-bottom: 72px;
    // gap: 20px;
  }

  // &__item {
  //   width: calc((100% - 80px) / 3);
  // }

  &__image {
    margin-bottom: 48px;

    @media screen and (max-width: $bp-tablet) {
      margin-bottom: 20px;
    }

    @media screen and (max-width: $bp-mobile) {
      margin-bottom: 10px;
    }
  }

  &__info {
    padding: 0 32px;
    max-width: 410px;

    @media screen and (max-width: $bp-desktop) {
      padding: 0;
    }

    @media screen and (max-width: $bp-mobile) {
      padding: 0 24px;
    }

    &-title {
      font-size: 64px;
      margin-bottom: 12px;

      @media screen and (max-width: $bp-tablet) {
        font-size: 40px;
      }

      @media screen and (max-width: $bp-mobile) {
        font-size: 48px;
      }
    }

    &-text {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 270px;
      align-items: flex-start;
      max-width: 286px;

      @media screen and (max-width: $bp-tablet) {
        height: 230px;
      }

      @media screen and (max-width: $bp-mobile) {
        height: 200px;
      }
    }

    &-session {
      color: var(--color-brand-normal);
      margin: 24px 0 0;
    }

    &-price {
      font-size: 64px;

      @media screen and (max-width: $bp-tablet) {
        font-size: 52px;
      }

      @media screen and (max-width: $bp-mobile) {
        font-size: 48px;
      }
    }
  }

  &__slider {
    overflow: hidden;
    width: 100%;
  }
}
