@use "../utils/variables" as *;

.text-title {
  font-family: "Raleway";
  font-weight: 500;
  font-size: 28px;
  letter-spacing: 20%;
  color: var(--color-brand-normal);
  text-transform: uppercase;

  @media screen and (max-width: $bp-tablet) {
    font-size: 22px;
  }

  @media screen and (max-width: $bp-mobile) {
    font-size: 16px;
  }
}
