.font-playfair {
  font-family: "Playfair Display SC", serif;
  font-weight: 400;
}

.font-ephesis {
  font-family: "Ephesis", serif;
  font-weight: 400;
}

.font-cormorant {
  font-weight: 600;
  font-family: "Cormorant", serif;
}

.font-cormorant-gar {
  font-family: "Cormorant Garamond", serif;
  font-weight: 300;
}

.font-playfair-ds {
  font-family: "Playfair Display", serif;
  font-weight: 400;
}

.font-forum {
  font-family: "Forum", serif;
  font-weight: 400;
}

.font-raleway {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
}

.font-dancing {
  font-family: "Dancing Script", serif;
  font-weight: 400;
}
