:root {
  --color-brand-normal: #bba085;
  --color-brand-dark: #b58b61;
  --color-brand-light: #e9e1d9;
  --color-grey-dark: #363636;
  --color-grey-normal: #4f4f4f;
  --color-grey-light: #555555;
  --color-white: #ffffff;
  --color-white-f4: #f4f4f4;
  --color-white-f8: #f8f8f8;
  --color-grey-c6: #c6c6c6;
}

$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-desktop: 1280px;
