.contact {
  padding: 150px 0 130px;

  &__subtitle {
    margin-bottom: 72px;
  }

  &__container {
    display: flex;
    justify-content: space-between;
  }

  &__form {
    background-color: var(--color-white-f8);
    padding: 98px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-basis: 50%;
    text-align: start;
  }

  &__label {
    margin-bottom: 8px;
  }

  &__field {
    border: none;
    padding: 12px;
    margin-bottom: 46px;
    width: 470px;
    font-size: 24px;

    &:focus {
      outline: 0.5px solid var(--color-grey-c6);
      font-size: 24px;
    }

    &-message {
      height: 230px;
      resize: none;
    }
  }
}
