@use "../utils/variables" as *;

.button {
  padding: 16px 40px;
  color: var(--color-grey-normal);
  background-color: var(--color-brand-light);
  border: 2px solid var(--color-brand-light);
  font-family: "Cormorant Garamond", serif;
  font-size: 28px;
  transition:
    color 0.3s,
    background-color 0.3s,
    font-weight 0.3s,
    border-color 0.3s;

  @media screen and (max-width: $bp-tablet) {
    padding: 12px 32px;
    font-size: 24px;
  }

  @media screen and (max-width: $bp-tablet) {
    padding: 8px 24px;
    font-size: 20px;
  }

  &:hover {
    background-color: var(--color-brand-normal);
    color: var(--color-white);
    font-weight: 600;
    border-color: var(--color-brand-normal);
    border-radius: 4px;
  }

  &__service-card {
    padding: 16px 34px;
  }

  &__portfolio-section {
    padding: 16px 28px;
    display: flex;
    justify-self: flex-end;

    @media screen and (max-width: $bp-mobile) {
      padding: 12px 20px;
    }
  }

  &__contact-section {
    padding: 13px 64px;
    max-width: 185px;
  }

  &__about-section {
    padding: 16px 24px;
  }

  &__quality-section {
    padding: 26px 68px;
  }

  &__touch {
    padding: 23px 50px;
    border: 1px solid var(--color-brand-normal);
    font-weight: 500;
    font-size: 28px;
    background-color: transparent;
  }

  &__contact {
    padding: 16px 50px;
  }
}
