@use "../utils/variables" as *;

.nav {
  font-size: 22px;

  &__container {
    display: flex;
    justify-content: space-around;
    gap: 54px;
    align-items: center;

    @media screen and (max-width: $bp-desktop) {
      gap: 10px;
    }

    @media screen and (max-width: $bp-tablet) {
      justify-content: space-between;
    }
  }

  &__link {
    color: var(--color-grey-dark);
    text-transform: uppercase;
    transition: color 0.3s;

    &:hover {
      color: var(--color-brand-dark);
    }

    @media screen and (max-width: $bp-desktop) {
      font-size: 18px;
    }

    @media screen and (max-width: $bp-tablet) {
      display: none;
    }
  }

  &__logo {
    width: 280px;
    height: 100px;

    @media screen and (max-width: $bp-desktop) {
      width: 220px;
      height: 80px;
    }

    @media screen and (max-width: $bp-tablet) {
      width: 200px;
      height: 60px;
    }

    @media screen and (max-width: $bp-mobile) {
      width: 150px;
      height: 50px;
    }
  }

  &__button {
    display: none;

    @media screen and (max-width: $bp-tablet) {
      display: flex;
      background-color: transparent;
      border: none;
    }

    &-icon {
      fill: var(--color-grey-dark);
      width: 32px;
      height: 32px;
    }
  }
}
