@use "../utils/variables" as *;

.container {
  /* Задаємо розмір, щоб на великих екранах сайт не плив */
  width: 100%;
  max-width: 1538px; /*1644 за макетом + 2*24 padding*/
  /* Центруємо  блок контенту */
  margin: 0 auto;
  /* Щоб текст не прилипав */
  padding: 0 24px;

  @media screen and (max-width: $bp-mobile) {
    padding: 0 18px;
  }
}
