@use "../utils/variables" as *;

.header {
  background-color: var(--color-white-f4);
  padding: 0 117px;

  @media screen and (max-width: $bp-desktop) {
    padding: 4px 0;
  }

  &--home {
    background-color: transparent;
    background-image: linear-gradient(
      rgba(245, 245, 245, 0.8),
      rgba(245, 245, 245, 0.8)
    );
    padding-top: 8px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }
}
