@use "../../utils/variables" as *;

.portfolio-page-section {
  padding: 118px 0 150px;

  @media screen and (max-width: $bp-desktop) {
    padding: 90px 0 110px;
  }

  @media screen and (max-width: $bp-tablet) {
    padding: 60px 0;
  }

  @media screen and (max-width: $bp-mobile) {
    padding: 36px 0;
  }

  &__title {
    margin-bottom: 116px;

    @media screen and (max-width: $bp-desktop) {
      margin-bottom: 80px;
    }

    @media screen and (max-width: $bp-tablet) {
      font-size: 38px;
      margin-bottom: 20px;
    }

    @media screen and (max-width: $bp-mobile) {
      font-size: 26px;
      margin-bottom: 18px;
    }
  }

  &__list {
    margin-bottom: 114px;
    // display: flex;
    // gap: 20px;
    // justify-content: space-between;

    @media screen and (max-width: $bp-desktop) {
      margin-bottom: 90px;
    }

    @media screen and (max-width: $bp-tablet) {
      margin-bottom: 0;
    }

    @media screen and (max-width: $bp-mobile) {
      margin-bottom: 0;
      justify-content: space-around;
    }
  }
}

// @media (min-width: 480px) {
//   .portfolio-slider-wrap .portfolio-pagination {
//     display: none;
//   }
// }
.portfolio-page-section__slider {
  overflow: hidden;
}
