@use "../../utils/variables" as *;

.promise-section {
  padding: 134px 0;
  background-image: url("../../../images/promise-section-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;

  @media screen and (max-width: $bp-tablet) {
    padding: 70px 0;
  }

  @media screen and (max-width: $bp-mobile) {
    padding: 30px 0;
  }

  &__container {
    display: flex;
    justify-content: center;
  }

  &__card {
    background-image: linear-gradient(
      rgba(255, 255, 255, 0.9),
      rgba(255, 255, 255, 0.9)
    );
    width: 932px;
    height: 246px;
    padding: 48px 100px;
    border: 1px solid var(--color-brand-normal);
    box-shadow: 0 0 0 18px var(--color-white);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media screen and (max-width: $bp-desktop) {
      width: 90%;
    }

    @media screen and (max-width: $bp-tablet) {
      padding: 5px 15px;
      box-shadow: 0 0 0 6px var(--color-white);
      width: 80%;
      height: 200px;
    }

    @media screen and (max-width: $bp-mobile) {
      height: 180px;
      width: 90%;
    }
  }

  &__title {
    color: var(--color-brand-normal);
    font-size: 60px;
    margin-bottom: 24px;

    @media screen and (max-width: $bp-tablet) {
      font-size: 36px;
    }

    @media screen and (max-width: $bp-mobile) {
      font-size: 30px;
      margin-bottom: 10px;
    }
  }

  &__info {
    font-weight: 300;
    margin-bottom: 10px;

    @media screen and (max-width: $bp-tablet) {
      font-size: 22px;
    }

    @media screen and (max-width: $bp-mobile) {
      font-size: 20px;
    }
  }
}
